@{
    ViewBag.Title = "Add Student";
    Layout = "_AdminLayout";
}



<h1 class="text-center mb-4">Add Student</h1>

<p style="color: red; margin:2px;">@ViewBag.message</p>

<form method="post" enctype="multipart/form-data" class="w-50 mx-auto">

    <div class="mb-3">
        <input type="text" class="form-control" name="name"
               placeholder="Enter Faculty Name" required  />
    </div>

    <div class="mb-3">
        <input type="email" class="form-control" name="email"
               placeholder="Enter Email" required />
    </div>

    <div class="mb-3">
        <input type="file" class="form-control" name="image" />
    </div>

    <div class="mb-3">
        <input type="number" class="form-control" name="age"
               placeholder="age (Years)" />
    </div>

    <div class="mb-3">
        <input type="text" class="form-control" name="batch"
               placeholder="Batch" />
    </div>

    <button type="submit" class="btn btn-primary w-100">Save Student</button>
</form>
